input[type=submit], .btn___info{
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 4px;
    color: white;
    transition: 0.2s all ease;
    background-color:lighten($greenOne,10%);
        &:hover, &:focus{
            background-color: darken($greenTwo,25%);
        }
}
.btn___info{
	width: 100%;
	padding: 5px 10px;
	margin: 12px auto 0 auto;
	border-radius: 2px;
    border: none;
}
input[type="reset"]{
    position: absolute;
    right:5px;
    top:5px;
    border-radius: 20px;
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    background-color: $greenTwo;
    z-index: 401;
}