input[type=submit], .btn___info{
    padding: 9px 20px;
    margin-left: 10px;
    border-radius: 2px;
    color: white;
    border:none;
    transition: 0.2s all ease;
    background-color:lighten($greenOne,10%);
        &:hover, &:focus{
            background-color: darken($greenTwo,15%);
        }
}
.btn___info{
	width: 100%;
	padding: 5px 10px;
	margin: 12px auto 0 auto;
	border-radius: 2px;
    border: none;
        &:hover, &:focus{
            background-color: darken($greenTwo,15%);
        }
}
input[type=reset]{
    position: absolute;
    right:13px;
    color: white;
    top:15px;
    border-radius: 2px;
    padding: 10px 15px;
    margin-left: 10px;
    border: none;
    background-color: $greenTwo;
    z-index: 401;
        &:hover, &:focus{
            background-color: darken($greenTwo,15%);
        }
}