.map-container{
    height:80vh;
    min-height:500px;
}

#mapid{
    height:100%;
    min-height:500px;
}

.leaflet-popup-content{
    font-size:0.9rem;
    line-height:1.4rem;
    font-family:$bodyFont;
}