@media (max-width: 850px){
	.info-container,#direction{
        h2{
            font-size: 1.4rem;
        }
        h3{
            font-size: 1.2rem;
        }
    }
}
@media all and (max-width: 530px){
    .heroContent{
        top: 24%;
    }
    .heroContent p{
        font-size: 1.2rem;
    }
    h1{
        font-size:4rem;
    }
    .map-container{
        min-height:400px;
        height:auto;
    }
    #mapid{
        min-height:350px;
        height:auto;
    }
	.infoAndDirection{
		position: static;
        width:100%;
	}
    
}

@media all and (max-width: 360px){
    .heroContent{
        top: 10%;
    }
}
