@media (max-width: 850px){
	.info-container,#direction{
        h2{
            font-size: 1.4rem;
        }
        h3{
            font-size: 1.2rem;
        }
    }
}
@media all and (max-width: 530px){
    h1{
        font-size:3.5rem;
    }
    .hero .heroContent{
        top: 50%;
        transform:translateY(-50%);
    }
    .heroContent p{
        font-size: 1.2rem;
    }
    .map-container{
        min-height:400px;
        height:auto;
    }
    #mapid{
        min-height:350px;
        height:auto;
    }
	.infoAndDirection{
		position: static;
        width:100%;
	}
    #loader{
        margin-top:50%;
    }
    #modal{
        div{
            padding:10px;
            line-height: 1.6rem;
            width:90%;
            margin:15px auto;
        }
    }
}
@media all and (max-width: 360px){
    .heroContent{
        top: 10%;
    }
    
}
