$darkblue:rgb(15,40,54);
$greenOne:rgb(107, 158, 160);
$greenTwo:rgb(140, 183, 180);
$peach:rgb(241, 233, 211);
$headingFont:'Fjalla One', sans-serif;
$bodyFont:'Raleway', sans-serif;
// $bodyFont:'Montserrat', sans-serif;

